* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 375px;
  height: 812px;
  background: rgba(246,246,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_48 {
  width: 354px;
  color: rgba(0,0,0,0.75);
  position: absolute;
  top: 435px;
  left: 12px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v77501_54 {
  width: 171px;
  height: 163px;
  background: url("../images/v77501_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 217px;
  left: 103px;
  overflow: hidden;
}
